@import "variables";
@import "fonts";

html, body { height: 100% }
body { padding-bottom: 100px; font-family: "Noway"; }

.flex { display: flex; }

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-columns {
    flex-direction: column;
}

.play-green {
    background-color: $play-green;
}

.play-gray {
    background-color: $play-gray;
}

.alert-red {
    background-color: $alert-red;
}

.btn {
    background-color: $play-gray;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.btn:hover {
    color: darken(white, 10%);
    cursor: pointer;

    &.play-gray {
        background-color: lighten($play-gray, 10%);
    }

    &.play-green {
        background-color: lighten($play-green, 10%);
    }

    &.alert-red {
        background-color: lighten($alert-red, 10%);
    }
}

.mb {
    margin-bottom: 10px;
}

#app div {
    border-radius: 3px;
}
